.main-div {
    background-color: #D3D5FD;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.inner-div {
    background-color: #929AAB;
    border-radius: 1rem;
    padding: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}